/* Importação de fontes externas do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=EB+Garamond&display=swap');

/* Estilização do corpo, lista não ordenada e itens da lista */
body, ul, li {
    font-family: 'EB Garamond', serif; /* Define a fonte principal */
    box-sizing: border-box; /* Garante que padding e border são incluídos na largura e altura totais */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o padding padrão */
    background-color: #3e2723; /* Define a cor de fundo */
}

/* Estilização do cabeçalho */
header {
    background-color: #5d4037; /* Define a cor de fundo do cabeçalho */
    text-align: center; /* Centraliza o texto no cabeçalho */
    position: relative; /* Define a posição como relativa */
    width: 100%; /* Define a largura como 100% */
}

/* Estilização do título */
.title {
    color: white; /* Define a cor do texto do título */
    width: 100%; /* Define a largura como 100% */
    background-color: #5d4037; /* Define a cor de fundo */
    display: inline-block; /* Exibe como um bloco em linha */
    padding: 2px 0px; /* Define o padding superior e inferior */
    position: sticky; /* Define a posição como fixa */
    top: 0px; /* Fixa no topo da página */
    font-size: 2.5rem; /* Define o tamanho da fonte */
    font-family: 'Alex Brush', cursive; /* Define a fonte do título */
}

/* Estilização do banner */
.banner {
    height: 500px; /* Define a altura do banner */
    overflow: hidden; /* Esconde o conteúdo que ultrapassa o limite */
}

/* Estilização da imagem do banner */
.banner img {
    margin: -100px -100px -100px -100px; /* Define a margem negativa */
    width: 90%; /* Define a largura como 90% */
}

/* Estilização do banner com imagem de fundo */
.banner {
    height: 500px; /* Define a altura do banner */
    background: url('https://i.pinimg.com/originals/d5/43/e4/d543e4d6958a4c64eb45545de3c4ed6f.gif') no-repeat center center; /* Define a imagem de fundo */
    background-size: cover; /* Cobre todo o espaço disponível */
    overflow: hidden; /* Esconde o conteúdo que ultrapassa o limite */
}

/* Estilização do rodapé */
footer {
    text-align: center; /* Centraliza o texto no rodapé */
    padding: 20px; /* Define o padding do rodapé */
    background-color: #5d4037; /* Define a cor de fundo */
    color: white; /* Define a cor do texto */
}

/* Estilização dos parágrafos do rodapé */
footer p {
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o padding padrão */
    font-family: 'EB Garamond', serif; /* Define a fonte dos parágrafos */
    font-size: 1em; /* Define o tamanho da fonte */
}

/* Estilização dos novos itens */
.newItem {
    background-color: #5d4037; /* Define a cor de fundo */
    padding: 30px 40px; /* Define o padding */
    color: white; /* Define a cor do texto */
    display: flex; /* Exibe como flexbox */
    justify-content: flex-start; /* Alinha o conteúdo à esquerda */
}

/* Estilização após novos itens */
.newItem:after {
    content: ""; /* Adiciona conteúdo vazio */
    display: table; /* Define como tabela */
    clear: both; /* Limpa o conteúdo flutuante */
}

/* Estilização dos inputs de texto e número */
.newItem input[type=text], .newItem input[type=number] {
    margin: 0 10px 0 0; /* Define a margem */
    border: 1px solid #ccbbaa; /* Define a borda */
    width: calc(100% / 5 - 20px); /* Define a largura */
    padding: 10px; /* Define o padding */
    font-size: 16px; /* Define o tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    background: rgba(255, 255, 255, 0.8); /* Define a cor de fundo */
}

/* Estilização do botão de adicionar */
.addBtn {
    padding: 9px 10px; /* Define o padding */
    background-color: #6d4c41; /* Define a cor de fundo */
    color: white; /* Define a cor do texto */
    text-align: center; /* Centraliza o texto */
    font-size: 20px; /* Define o tamanho da fonte */
    cursor: pointer; /* Define o cursor como ponteiro */
    transition: 0.3s; /* Define a transição */
    border-radius: 0px; /* Define o raio da borda */
    text-shadow: 1px -1px #cac1c2; /* Define a sombra do texto */
    float: left; /* Flutua à esquerda */
}

/* Estilização do botão de adicionar ao passar o mouse */
.addBtn:hover {
    background-color: #8d6e63; /* Define a cor de fundo ao passar o mouse */
    color: white; /* Define a cor do texto */
    text-shadow: 1px -1px #080808; /* Define a sombra do texto */
}

/* Estilização dos itens */
.items {
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o padding padrão */
    display: flex; /* Exibe como flexbox */
    justify-content: center; /* Centraliza o conteúdo */
    font-family: 'EB Garamond', serif; /* Define a fonte */
}

/* Estilização do botão de fechar ao passar o mouse */
.close:hover {
    color: #f44336; /* Define a cor do texto */
    font-weight: bolder; /* Define o peso da fonte */
}

/* Estilização da tabela, cabeçalhos e células */
table, th, td {
    border: 2px solid #5d4037; /* Define a borda */
    border-collapse: collapse; /* Colapsa as bordas */
    cursor: pointer; /* Define o cursor como ponteiro */
    padding: 5px; /* Define o padding */
    font-size: 20px; /* Define o tamanho da fonte */
    color: #5d4037; /* Define a cor do texto */
    font-family: 'EB Garamond', serif; /* Define a fonte */
    transition: 0.5s; /* Define a transição */
    text-align: center; /* Centraliza o texto */
}

/* Estilização da tabela */
table {
    background-color: #d7ccc8; /* Define a cor de fundo */
    width: 100%; /* Define a largura como 100% */
}

/* Estilização das linhas ímpares da tabela */
tr:nth-child(odd) {
    background-color: #ebe9e9; /* Define a cor de fundo */
}

/* Estilização do primeiro cabeçalho */
th:nth-child(1) {
    width: 20%; /* Define a largura como 20% */
}

/* Estilização das linhas ao passar o mouse */
tr:hover {
    background: rgb(200, 199, 199); /* Define a cor de fundo ao passar o mouse */
}

/* Estilo para a tabela, o cabeçalho e a célula */
.content {
    display: flex; /* Adiciona o efeito de linha */
    flex-direction:column; /* Adiciona o efeito de coluna */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: flex-start; /* Centraliza o conteúdo verticalmente */
    margin-top: 20px; /* Define a margem superior */
    margin-bottom: 20px; /* Define a margem inferior */
}

/* Estilo para o giff apresentado */
.giff {
    display: block; /* Adiciona o efeito de bloco */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    margin: 20px auto; /* Define a margem superior e inferior */
    text-align: center; /* Centraliza o texto horizontalmente */
}

/* Estilo para o giff apresentado */
.giff img {
    max-width: 100%; /* Define a largura máxima como 100% */
    max-height: 100%; /* Define a altura máxima como 100% */
}

/* Estilo para as piadas */
.jokesSection {
    display: flex; /* Adiciona o efeito de linha */
    flex-direction: column; /* Adiciona o efeito de coluna */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    text-align: center; /* Centraliza o texto horizontalmente */
    padding: 20px; /* Define o espaçamento interno */
    border: 1px solid #ccc; /* Define a borda */
    border-radius: 5px; /* Define o raio da borda */
    background-color: #f9f9f9; /* Define a cor de fundo */
    margin: 0 auto; /* Adicione esta linha para centralizar horizontalmente */
    max-width: 800px; /* Defina a largura máxima desejada */
    color: #000; /* Define a cor do texto */
}

.jokesSection h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #000; /* Define a cor do texto do título */
}

/* Estilo para o título da tabela "Atualização de Ano" */
h2 {
    font-size: 18px;
    font-weight: bold;
    color: #333; /* Cor do texto */
    background-color: #f2f2f2; /* Cor de fundo */
    padding: 10px; /* Espaçamento interno */
    text-align: center; /* Centralizar o texto horizontalmente */
    max-width: 600px; /* Largura máxima desejada */
    margin: 0 auto; /* Centralizar na tela horizontalmente */
    margin-top: 20px; /* Adicionar um espaço superior opcional */
}

/* Estilo para o botão "Atualizar" */
button {
    font-size: 18px; /* Tamanho da fonte */
    padding: 12px 24px; /* Espaçamento interno (altura e largura) */
}

/* Estilo para a seção do botão "Atualizar" */
.update-button-section {
    text-align: center; /* Centralizar o botão horizontalmente */
    margin-top: 20px; /* Adicionar um espaço superior opcional */
    margin-bottom: 100px;
}

/* Estilo para a tabela de atualização */
.update-table {
    max-width: 80%; /* Define a largura máxima como 80% */
    margin: 0 auto; /* Centraliza a tabela horizontalmente */
}

/* Estilo para a seção de atualização */
.updateYear {
    margin-bottom: 20px; /* Define a margem inferior desejada (por exemplo, 20px) */
}

/* Estilo para a tabela de adição de notas */
.addNote {
    margin-top: 20px; /* Define a margem superior desejada (por exemplo, 20px) */
    padding: 20px; /* Define o espaçamento interno */
    background-color: #f9f9f9; /* Define a cor de fundo */
}

  /* Estilo para a div que contém a tabela e o botão */
.table-container {
    display: flex; /* Adiciona o efeito de linha */
    flex-direction: column; /* Adiciona o efeito de coluna */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    margin-top: 10px; /* Define a margem superior */
}

  /* Estilo para o botão de adição */
.addNote button {
    margin-top: 10px; /* Define a margem superior */
}

/* Estilo para a seção de consulta de informações da bebida */
.getBebidaInfo {
    margin-top: 20px; /* Define a margem superior */
    padding: 20px; /* Define o espaçamento interno */
    background-color: #f9f9f9; /* Define a cor de fundo */
    border: 1px solid #ccc; /* Define a borda */
    border-radius: 5px; /* Define o raio da borda */
    text-align: center; /* Centraliza o texto horizontalmente */
}

/* Estilo para o título da seção de consulta */
.getgetBebidaInfoInfo h2 {
    font-size: 18px; /* Define o tamanho da fonte */
    font-weight: bold; /* Define o contorno da fonte */
    color: #333; /* Define a cor do texto */
    margin-bottom: 10px; /* Define a margem inferior */
}

/* Estilo para o formulário de consulta */
.bebida-info-form {
    display: flex; /* Adiciona o efeito de linha */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    margin-bottom: 10px; /* Define a margem inferior */
}

/* Estilo para o campo de entrada de texto */
.bebida-info-form input[type="text"] {
    padding: 10px; /* Define o espaçamento interno */
    width: 60%; /* Define a largura como 60% */
    border: 1px solid #ccc; /* Define a borda */
    border-radius: 5px; /* Define o raio da borda */
    font-size: 16px; /* Define o tamanho da fonte */
    margin-right: 10px; /* Define a margem direita */
}

/* Estilo para o botão de consulta */
.bebida-info-form button {
    padding: 10px 20px; /* Define o espaçamento interno */
    background-color: #722f37; /* Define a cor de fundo */
    color: white; /* Define a cor do texto */
    font-size: 16px; /* Define o tamanho da fonte */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Define o raio da borda */
    cursor: pointer; /* Adiciona o efeito de cursor */
    transition: background-color 0.3s; /* Adiciona o efeito de transição */
}

.bebida-info-form button:hover {
    background-color: #047e12;
}

/* Estilo para o resultado da consulta */
#bebidaInfoResult {
    font-size: 16px; /* Define o tamanho da fonte */
    color: #333; /* Define a cor do texto */
    margin-top: 10px; /* Define a margem superior */
}
